Fonte: https://www.youtube.com/watch?v=WGlMlS_Yydk&t=121s

####I = {Cebola, Burguer, Batata, Leite, Cerveja}
####{Cebola, Batata} => {Burguer}

###supp(x)=((Number of transactions in which X appears)/Total number of transactions)

###conf(X => Y) = supp(X U Y)/supp(X)

In [42]:
import pandas as pd

df = pd.read_excel(r'/content/drive/MyDrive/Ifes/2022_2/Inteligência de Negócios - Kelly/Entrega 2/baseDados.xlsx')
print(df)

   Leite  Pao  Acucar  Café  Manteiga  Mamao  Banana  Maca
0      1    1       1     1         1      0       0     0
1      0    0       0     0         0      1       1     1
2      1    1       0     0         0      0       0     0
3      1    0       1     0         0      1       1     0
4      1    1       1     0         0      0       1     1
5      1    0       0     0         0      0       0     0
6      1    1       1     1         1      1       1     0
7      0    0       1     1         1      1       1     1
8      0    1       1     1         1      1       1     1

In [25]:
#Neste caso podemos ver que temos 4 maçãs que estão representadas pelo valor 1
df[['Maca']].value_counts()

Maca
0       5
1       4
dtype: int64

In [26]:
#Neste caso temos 5 pães que estão representados pelo valor 1
df[['Pao']].value_counts()

Pao
1      5
0      4
dtype: int64

In [27]:
df[['Acucar']].value_counts()

Acucar
1         6
0         3
dtype: int64

In [43]:
#Agora para verificar em quantos casos tivemos os 3 ao mesmo tempo
df[['Pao','Acucar','Maca']].value_counts()
#como podemos ver em nenum caso tevemos os 3 ao mesmo tempo

Pao  Acucar  Maca
1    1       0       2
             1       2
0    0       0       1
             1       1
     1       0       1
             1       1
1    0       0       1
dtype: int64

In [32]:
#Este é um exemplo em que temos os 3 acontecendo ao mesmo tempo e a sua frenquencia 
df[['Leite','Pao','Acucar']].value_counts()
####Como podemos notar a ordem neste caso pouco importa, do contrario do augoritmo FP-Growth

Leite  Pao  Acucar
1      1    1         3
0      0    0         1
            1         1
       1    1         1
1      0    0         1
            1         1
       1    0         1
dtype: int64

In [33]:
df[['Café','Manteiga','Mamao']].value_counts()

Café  Manteiga  Mamao
0     0         0        3
1     1         1        3
0     0         1        2
1     1         0        1
dtype: int64